<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="1" value="0"/>
		<add key="2" value="0"/>
		<add key="3" value="0"/>
		<add key="4" value="0"/>
		<add key="5" value="0"/>
		<add key="6" value="25"/>
		<add key="7" value="25"/>
		<add key="8" value="0"/>
		<add key="9" value="0"/>
		<add key="10" value="0"/>
		<add key="11" value="0"/>
		<add key="12" value="200"/>
	</appSettings>
</configuration>
